body {
    color: #17a2b8;
}
.wrapper {
    width: 100%;
}
.content-wrapper {
    width: 100%;
    margin: 0 auto;
}
.content {
    width: 75%;
    margin: 0 auto;
}
.form-horizontal {
    margin: 2em 3em;
}
.form-header {
    margin: 1em 0;
}
.form-horizontal table caption {
    color: #FFF;
    background-color: #17a2b8;
    margin: 2em 0;
    padding: 0.5em 2em;
}
.btn-primary{
color: #fff;
background-color: #17a2b8;
border-color: #17a2b8;
}

.btn-primary:hover{
color: #fff;
background-color: #337ab7;
border-color: #337ab7;
}

.btn-primary:focus, .btn-primary.focus {
color: #fff;
background-color: #17a2b8;
border-color: #d39e00;
box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}
.error_message{
    color: red;
}